.textTrans{opacity: 0;
    transform: translateY(100px);
    transition: all 2s ease-out;
}
.textTrans.fade-in {
    opacity: 1;
    transform: translateY(0);
}

#trigSecond, #trigThird{position:absolute;}
#trigSecond{height: 400px;top:1000px}
.blank{height:1000px}