/* .textTrans{opacity: 0;
    transform: translateY(60px);
    transition: all 1s ease-out;
}
.textTrans.fade-in {
    opacity: 1;
    transform: translateY(0);
} */


.trigger{height: 50px;}
.blank{height:500px}
.blank2{height: 300px;}

.fade{opacity: 0; transition: all 2s ease-out; transition-delay: 2s; transform: translateY(60px)}
.fade-in{opacity: 1; transform: translateY(0px)}
/* #sinfo1{margin-top:10%} */

#trigV{position: absolute; bottom: 0;}

#axis-container text{font-size: 10px; font-weight: 100}
