body{font-size:16px; color: #ececec; line-height: 1em; letter-spacing: 2px; text-align: justify; font-family: "微软雅黑";}
.simtext, .secifInfo{line-height: 2em;}

.textTrans{
    width: 80%;
    height: 100px;
    position:relative;
    left:5%;
    font-size: 1.8em;
    font-family: "微软雅黑";
    text-indent: 2em;
    padding: 0 5%;
    /* box-shadow: 2px 2px 6px #888888;  */
    letter-spacing: 5px; 
    line-height: 2.5em;
}
.textTrans span{color: #ff5858;}

.secifInfo{width: 35%; margin-left:3%; padding-top: 15%;}
.secifInfo p{font-size: 13px; }
.secifInfo p span{font-weight: 700; letter-spacing: 1px; font-size:14px;}

#round .seciInfo{float: left;}
#round .img{float: right; width:30%; right: 10%; position: relative;}
#round .img img{width: 80%; margin-top: 20%;}

#pin{width: 60%; left: 20%; position: relative; padding: 0px 20px; margin-bottom: 10%;}
#pin h3{text-align: center; letter-spacing: 0.3em; margin-top:5%; font-size: 26px;}
#pin video{width:100%; position: relative; margin-top:2%; }


.simtext{width: 60%;left: 20%;position: relative;margin: 3% 0px; padding: 0px 20px;}
.simtext p{ margin-top: 20px; text-indent: 2em;}

#twoC{width: 95%; left:2.5%; position: relative; height: 1000px;}
#twoC .twoinfo{width:35%;}
#twoC .twoinfo img{width: 40%;}
#twoC .tinfo{margin:0 5%; width: 45%;}
#twoC .tinfo .name{font-size: 18px; font-weight: 700; letter-spacing: 3px; }
/* #twoC .tinfo .name.right{text-align: right;} */
#twoC .tinfo .cinfo{line-height: 1.5; font-size:12px;}

.left, .left img, .left .tinfo{float: left;}
.right, .right img, .right .tinfo{float: right;}

#twoC .ten{color: #7DB9DE;}
#twoC .ali{color: #DC9FB4;}

.Stitle{
    /* color: #a7a5a6; */
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    padding: 5px 5px 0px 0px;
}
.Smtitle{
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 26px;
}